
.scroller {
    overflow: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow-anchor: none; /*  See https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor */
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
  }

.scroller .scroller-content .item {
    height: 20px;
    transform: translateZ(0); /* fixes a bug in Safari iOS where the scroller doesn't update */
}